html {
    scroll-behavior: smooth;
}

#home{
    background: rgba(0,0,0,0.5);	
}

/* pulse */

.navbar-brand {
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* end */


/* cardx */

.cardx {
    border-radius: 10px 10px 10px 10px;
    transition: all .5s ease-Out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardx:hover {
    transition: all .5s ease-Out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* end */


/* button */

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px
}


/* end */


/* button 6 */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
    color: azure;
}

#button-6 a {
    position: relative;
    color: azure;
    transition: all .45s ease-Out;
}

#button-6::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, rgb(0, 0, 0) 45%, #aaa 50%, #ccc 56%, rgb(255, 255, 255) 80%);
    transition-duration: 0.3s;
}

#button-6:hover:before {
    width: 25px;
    height: 25px;
}


/* end */


/* button 5 */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-Out;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-Out;
    color: rgb(0, 0, 0);
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: white;
    position: absolute;
    transition: all .5s ease-Out;
}

#button-5:hover {
    background-color: black;
    transform: translateY( -7px);
    transition: all .8s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: black;
}


/* end */


/* skills section */

#skills {
    overflow: hidden !important;
}


/* end */

#home {
    overflow: hidden;
}


/* message homepage */

.message {
    display: inline-block;
    transition: line-height .2s, width .2s;
    overflow: hidden;
    line-height: 1.2;
}

.hidden {
    visibility: hidden;
}


/* end */


/* icons */

.iconx {
    color: rgb(194, 0, 97);
    font-size: 200%;
}


/* end */

.text-muted {
    color: rgb(179, 163, 163) !important;
}

/* carosel */
.slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: -16px; /*Not sure why I needed this fix*/          
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: 0;                           
  }
  
  .slideshow li span { 
        position: absolute;
      width: 100%;
      height: 700px;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 2;
      animation: imageAnimation 30s linear infinite 0s; 
      clip-path: polygon(0 0, 100% 0, 100% 86%, 0 98%);
  }
  
  
  
  .slideshow li:nth-child(1) span { 
    
    
      background-image: url("https://images.unsplash.com/photo-1516382022989-cd771ab91fb1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("https://images.unsplash.com/photo-1572171792175-268716b72601?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("https://images.unsplash.com/photo-1491234323906-4f056ca415bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80");
      animation-delay: 24s; 
  }
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }