html {
    scroll-behavior: smooth;
}
/* pulse */

.navbar-brand {
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* end */


/* cardx */

.cardx {
    border-radius: 10px 10px 10px 10px;
    transition: all .5s ease-Out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* margin: 1px !important; */
}

.cardx:hover {
    transition: all .5s ease-Out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* end */


/* button */

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px
}


/* end */


/* button 6 */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
    color: azure;
}

#button-6 a {
    position: relative;
    color: azure;
    transition: all .45s ease-Out;
}

#button-6::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, rgb(0, 0, 0) 45%, #aaa 50%, #ccc 56%, rgb(255, 255, 255) 80%);
    transition-duration: 0.3s;
}

#button-6:hover:before {
    width: 25px;
    height: 25px;
}


/* end */


/* button 5 */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-Out;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-Out;
    color: rgb(0, 0, 0);
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: white;
    position: absolute;
    transition: all .5s ease-Out;
}

#button-5:hover {
    background-color: black;
    transform: translateY( -7px);
    transition: all .8s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: black;
}


/* end */


/* skills section */

#skills {
    overflow: hidden !important;
}


/* end */

/* message homepage */

.message {
    display: inline-block;
    transition: line-height .2s, width .2s;
    overflow: hidden;
    line-height: 1.2;
}

.hidden {
    visibility: hidden;
}


/* end */


/* icons */

.iconx {
    color: rgb(194, 0, 97);
    font-size: 200%;
}


/* end */

.text-muted {
    color: rgb(179, 163, 163) !important;
}

/* carosel */
.slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: -16px; /*Not sure why I needed this fix*/          
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: 0;                           
  }
  
  .slideshow li span { 
        position: absolute;
      width: 100%;
      height: 700px;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 2;
      animation: imageAnimation 30s linear infinite 0s; 
      clip-path: polygon(0 0, 100% 0, 100% 86%, 0 98%);
  }
  
  
  
  .slideshow li:nth-child(1) span { 
    
    
      background-image: url("../img/carosel/yes.jpeg"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("../img/carosel/solve.jpeg");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("../img/carosel/lapidesk.jpeg");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("../img/carosel/laptopword.jpeg");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("../img/carosel/cofee.jpeg");
      animation-delay: 24s; 
  }
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }
.meso{
    padding: 16px 0px 26px 0px; 
    font-size: 16px; 
    color: #fff; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600; 
    font-style: italic; 
    margin: 0px; 
    word-spacing: 2px; 
    line-height: 22px; 
}      

#loader{
	background-color: rgb(0, 0, 0);
	width:100vw;
	height:100vh;  
	position: fixed;    	
	z-index: 999 !important;  	   
	overflow: hidden;      
	justify-content: center !important;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;    
    margin-top: 50vh;
    margin-left: 50% !important;    
	justify-content: center !important;	
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);	
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

@media only screen and (max-width: 766px){    
    .Banner_sec .rightside #slider {margin-top: 0px;}
}

@media only screen and (min-width: 766px) and (max-width: 837px) {    
    .Banner_sec .rightside .Slider .text {display: none; }    
}

@media only screen and (max-width: 550px) {
    .Banner_sec .rightside #slider li img {height: 200px !important; width: 100%;}	
    .Banner_sec .rightside .Slider .text {display: none; }    
}

@media only screen and (max-width: 460px) {
    .Banner_sec .rightside #slider li img {height: 200px !important; width: 100%;}	
    .Banner_sec .rightside .Slider .text {display: inline; }    
}