html {
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700|Rufina:400,700");
body {
    font-family: "Rufina", serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.message_submit_form:focus {
    outline: none;
}

input:hover,
input:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
}

.gray_bg {
    background-color: #f6f5f1;
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
}

.section_padding {
    padding: 130px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_padding {
        padding: 80px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media (max-width: 575px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_padding {
        padding: 70px 0px;
    }
}

.single_padding_top {
    padding-top: 140px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single_padding_top {
        padding-top: 70px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_padding_top {
        padding-top: 70px !important;
    }
}

@media (max-width: 575px) {
    .single_padding_top {
        padding-top: 70px !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single_padding_top {
        padding-top: 80px !important;
    }
}

.padding_top {
    padding-top: 140px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .padding_top {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .padding_top {
        padding-top: 70px;
    }
}

@media (max-width: 575px) {
    .padding_top {
        padding-top: 70px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .padding_top {
        padding-top: 70px;
    }
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #30383b;
    font-family: "Rufina", serif;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 1.929;
    font-size: 14px;
    margin-bottom: 0px;
    color: #777777;
}

h2 {
    font-size: 44px;
    line-height: 28px;
    color: #30383b;
    font-weight: 600;
    line-height: 1.222;
}

@media (max-width: 575px) {
    h2 {
        font-size: 22px;
        line-height: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    h2 {
        font-size: 24px;
        line-height: 25px;
    }
}

h3 {
    font-size: 24px;
    line-height: 25px;
}

@media (max-width: 575px) {
    h3 {
        font-size: 20px;
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
    font-style: inherit;
    font-weight: 600;
    color: #2a2a2a;
}

h5 {
    font-size: 18px;
    line-height: 22px;
}

img {
    max-width: 100%;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: 1s;
    transition: 1s;
}

.section_tittle {
    margin-bottom: 81px;
    text-align: center;
}

@media (max-width: 575px) {
    .section_tittle {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_tittle {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_tittle {
        margin-bottom: 30px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_tittle {
        margin-bottom: 30px;
    }
}

.section_tittle img {
    margin-bottom: 13px;
}

.section_tittle h2 {
    font-size: 42px;
    color: #30383b;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 177, */
    .section_tittle h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 177, */
    .section_tittle h2 {
        font-size: 35px;
        line-height: 40px;
    }
}


/* line 202, */

.section_tittle p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 7px;
}


/* line 208, */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* line 213, */

.mb_110 {
    margin-bottom: 110px;
}

@media (max-width: 575px) {
    /* line 213, */
    .mb_110 {
        margin-bottom: 220px;
    }
}


/* line 220, */

.mt_130 {
    margin-top: 130px;
}

@media (max-width: 575px) {
    /* line 220, */
    .mt_130 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 220, */
    .mt_130 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 220, */
    .mt_130 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 220, */
    .mt_130 {
        margin-top: 70px;
    }
}


/* line 235, */

.mb_130 {
    margin-bottom: 130px;
}

@media (max-width: 575px) {
    /* line 235, */
    .mb_130 {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 235, */
    .mb_130 {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 235, */
    .mb_130 {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 235, */
    .mb_130 {
        margin-bottom: 70px;
    }
}


/* line 250, */

.padding_less_40 {
    margin-bottom: -50px;
}


/* line 253, */

.z_index {
    z-index: 9 !important;
    position: relative;
}


/* line 257, */

.gj-datepicker {
    width: 100% !important;
}

@media (max-width: 575px) {
    /* line 261, */
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    /* line 265, */
    .media {
        display: block;
    }
    /* line 269, */
    .single_sidebar_widget .media {
        display: flex;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 275, */
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    /* line 279, */
    .media {
        display: block;
    }
    /* line 283, */
    .single_sidebar_widget .media {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 289, */
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    /* line 294, */
    .single_sidebar_widget .media {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1658px) {
    /* line 300, */
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1200px) {
    /* line 305, */
    [class*="hero-ani-"] {
        display: none !important;
    }
}


/**************** common css end ****************/


/* Main Button Area css
============================================================================================ */


/* line 3, */

.submit_btn {
    width: auto;
    display: inline-block;
    background: #fff;
    padding: 0px 50px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    border: 1px solid #fdcb9e;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* line 19, */

.submit_btn:hover {
    background: #f81c1c;
}


/* line 25, */

.btn_1 {
    display: inline-block;
    padding: 12.5px 45px;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: black;
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
}


/* line 37, */

.btn_1:hover {
    background-color: #f81c1c;
    border: 2px solid #f81c1c;
    color: #fff;
}

@media (max-width: 575px) {
    /* line 25, */
    .btn_1 {
        padding: 9.5px 28px;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 25, */
    .btn_1 {
        padding: 9.5px 28px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 25, */
    .btn_1 {
        padding: 9.5px 28px;
    }
}


/* line 56, */

.btn_2 {
    display: inline-block;
    padding: 12.5px 45px;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: white;
    border: 2px solid gray;
    font-family: "Roboto", sans-serif;
}


/* line 66, */

.btn_2:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid white;
}

@media (max-width: 575px) {
    /* line 56, */
    .btn_2 {
        padding: 9.5px 28px;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 56, */
    .btn_2 {
        padding: 9.5px 28px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 56, */
    .btn_2 {
        padding: 9.5px 28px;
    }
}


/* line 84, */

.BG {
    position: absolute;
    left: 881px;
    top: 2664px;
    width: 140px;
    height: 44px;
    z-index: 428;
}


/* line 94, */

.btn_3 {
    display: inline-block;
    padding: 12px 35px;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: #fff;
    background-color: #30383b;
}


/* line 103, */

.btn_3:hover {
    background-color: #f81c1c;
    box-shadow: 0px 15px 20px 0px rgba(248, 28, 28, 0.1);
    color: #fff;
}

@media (max-width: 575px) {
    /* line 94, */
    .btn_3 {
        padding: 9.5px 28px;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 94, */
    .btn_3 {
        padding: 9.5px 28px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 94, */
    .btn_3 {
        padding: 9.5px 28px;
    }
}


/* line 122, */

.single_page_btn {
    display: inline-block;
    padding: 9.5px 28px;
    border-radius: 50px;
    background-color: #ff6426;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    border: 2px solid transparent;
}


/* line 133, */

.single_page_btn:hover {
    color: #ff6426;
    background-color: #fff;
    border: 2px solid #ff6426;
}

@media (max-width: 575px) {
    /* line 122, */
    .single_page_btn {
        padding: 9.5px 28px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 122, */
    .single_page_btn {
        padding: 9.5px 28px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 122, */
    .single_page_btn {
        padding: 9.5px 28px;
    }
}


/* line 152, */

.btn_4 {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 14.5px 43px;
    background-color: #f81c1c;
    border: 2px solid #f81c1c;
}


/* line 161, */

.btn_4:hover {
    color: #f81c1c !important;
    background-color: transparent;
}


/* End Main Button Area css
============================================================================================ */


/* Start Blog Area css
============================================================================================ */


/* line 5, */

.latest-blog-area .area-heading {
    margin-bottom: 70px;
}


/* line 10, */

.blog_area a {
    color: #666666 !important;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.blog_area a h2 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.blog_area a h2:hover {
    color: #f81c1c !important;
}

.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
}


/* line 431, */

.tags .tag_btn+.tag_btn {
    margin-left: 2px;
}

.blog_item {
    margin-bottom: 50px;
}


/* line 529, */

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}

@media (min-width: 768px) {
    /* line 529, */
    .blog_details {
        padding: 60px 30px 35px 35px;
    }
}


/* line 537, */

.blog_details p {
    margin-bottom: 30px;
}


/* line 541, */

.blog_details a {
    color: #ff8b23;
}


/* line 544, */

.blog_details a:hover {
    color: #f81c1c;
}


/* line 549, */

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    /* line 549, */
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}


/* line 563, */

.blog-info-link li {
    float: left;
    font-size: 14px;
    transition: all .5s ease-Out;
}

.blog-info-link li:hover {
    transform: translateY( -5px);
    transition: all .5s ease-Out;
}


/* line 567, */

.blog-info-link li a {
    color: rgb(100, 100, 100) !important;
}

.blog-info-link li a:hover {
    color: rgb(194, 0, 97) !important;
}


/* line 571, */

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px;
}


/* line 577, */

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}


/* line 583, */

.blog-info-link li:last-child::after {
    display: none;
}


/* line 588, */

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table;
}


/* line 596, */

.blog_item_img {
    position: relative;
}


/* line 599, */

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    /* background-color: #009259; */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 8px 15px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    /* line 599, */
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px;
    }
}


/* line 615, */

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2;
}

@media (min-width: 768px) {
    /* line 615, */
    .blog_item_img .blog_item_date h3 {
        font-size: 30px;
    }
}


/* line 627, */

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
}

@media (min-width: 768px) {
    /* line 627, */
    .blog_item_img .blog_item_date p {
        font-size: 18px;
    }
}
/**************** about css start ****************/


/* line 2, */

.about_part {
    position: relative;
    z-index: 1;
    padding: 80px 0px;
}


/* line 6, */

.about_part .col-lg-6 {
    padding-left: 0px;
    padding-right: 0px;
}


/* line 10, */

.about_part .about_img {
    position: relative;
}


/* line 12, */

.about_part .about_img .about_img_1 {
    float: left;
    max-width: 300px;
}


/* line 16, */

.about_part .about_img .about_img_2 {
    position: absolute;
    left: 15%;
    top: 251px;
}

@media (max-width: 575px) {
    /* line 16, */
    .about_part .about_img .about_img_2 {
        top: 25px;
        left: 15px;
        max-width: 300px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 16, */
    .about_part .about_img .about_img_2 {
        top: 25px;
        left: 15px;
        max-width: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 16, */
    .about_part .about_img .about_img_2 {
        top: 25px;
        left: 15px;
        max-width: 350px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 16, */
    .about_part .about_img .about_img_2 {
        top: -100px;
        max-width: 350px;
        z-index: 3;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    /* line 16, */
    .about_part .about_img .about_img_2 {
        top: -100px;
        max-width: 350px;
        z-index: 3;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1658px) {
    /* line 16, */
    .about_part .about_img .about_img_2 {
        z-index: 3;
        top: 110px;
    }
}


/* line 51, */

.about_part .about_img .about_img_3 {
    float: right;
}

@media (max-width: 575px) {
    /* line 51, */
    .about_part .about_img .about_img_3 {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 51, */
    .about_part .about_img .about_img_3 {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 51, */
    .about_part .about_img .about_img_3 {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 51, */
    .about_part .about_img .about_img_3 {
        float: right;
        max-width: 440px;
        top: 10px;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    /* line 51, */
    .about_part .about_img .about_img_3 {
        float: right;
        max-width: 440px;
        top: 10px;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1658px) {
    /* line 51, */
    .about_part .about_img .about_img_3 {
        float: right;
        max-width: 440px;
        top: 10px;
        position: absolute;
        right: 0;
    }
}


/* line 88, */

.about_part .about_text {
    padding-left: 7px;
}

@media (max-width: 575px) {
    /* line 88, */
    .about_part .about_text {
        margin-top: 100px;
        padding-left: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 88, */
    .about_part .about_text {
        margin-top: 150px;
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 88, */
    .about_part .about_text {
        padding-left: 45px;
        padding-top: 80px;
    }
}


/* line 105, */

.about_part .about_text h5 {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: rgb(194, 0, 97);
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    z-index: 1;
    padding-left: 10px;
}


/* line 116, */

.about_part .about_text h5:after {
    position: absolute;
    content: "";
    top: 9px;
    width: 100px;
    height: 1px;
    background-color: #f0f0f0;
    left: 85px;
}


/* line 125, */

.about_part .about_text h5:before {
    position: absolute;
    content: "";
    top: -8px;
    width: 45px;
    height: 36px;
    background-color: #f0f0f0;
    left: 0px;
    z-index: -1;
}


/* line 137, */

.about_part .about_text h4 {
    margin-bottom: 25px;
    color: #ff6426;
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 575px) {
    /* line 137, */
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 137, */
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 137, */
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 137, */
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
    }
}


/* line 159, */

.about_part .about_text h2 {
    line-height: 1.25;
    margin-bottom: 21px;
    font-size: 45px;
}

@media (max-width: 575px) {
    /* line 159, */
    .about_part .about_text h2 {
        margin-bottom: 15px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 159, */
    .about_part .about_text h2 {
        margin-bottom: 15px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 159, */
    .about_part .about_text h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 159, */
    .about_part .about_text h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
}


/* line 180, */

.about_part .about_text p {
    margin-top: 13px;
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    /* line 180, */
    .about_part .about_text p {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 180, */
    .about_part .about_text p {
        margin-bottom: 10px;
    }
}


/* line 196, */

.about_part .about_text .btn_3 {
    margin-top: 23px;
}


/**************** skill part css start ****************/


/* line 3, */

.service_part .single_service_part {
    text-align: center;
    padding: 15px 15px 0px;
    border: 3px solid #e3e6ea;
}

@media (max-width: 575px) {
    /* line 3, */
    .service_part .single_service_part {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 3, */
    .service_part .single_service_part {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 3, */
    .service_part .single_service_part {
        margin-bottom: 15px;
    }
}


/* line 19, */

.service_part .single_service_part img {
    width: 100%;
    height: auto;
}


/* line 23, */

.service_part .single_service_part .single_service_text {
    padding: 40px 30px 50px;
}

@media (max-width: 575px) {
    /* line 23, */
    .service_part .single_service_part .single_service_text {
        padding: 25px 0px 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 23, */
    .service_part .single_service_part .single_service_text {
        padding: 25px 0px 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 23, */
    .service_part .single_service_part .single_service_text {
        padding: 25px 0px 30px;
    }
}


/* line 37, */

.service_part .single_service_part .single_service_text h4 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}

@media (max-width: 575px) {
    /* line 37, */
    .service_part .single_service_part .single_service_text h4 {
        font-size: 18px !important;
    }
}


/* line 54, */

.service_part .single_service_part .single_service_text p {
    margin: 25px 0px 39px;
}

@media (max-width: 575px) {
    /* line 54, */
    .service_part .single_service_part .single_service_text p {
        margin: 10px 0px 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 54, */
    .service_part .single_service_part .single_service_text p {
        margin: 10px 0px 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 54, */
    .service_part .single_service_part .single_service_text p {
        margin: 10px 0px 20px;
    }
}

@media (max-width: 575px) {
    /* line 72, */
    .service_part .btn_3 {
        margin-top: 0px;
    }
}


/**************** copyright part css start ****************/


/* line 2, */

.copyright_part {
    background-color: black;
    padding: 26px 0px;
    margin-top: 50px;
}

@media (max-width: 575px) {
    /* line 2, */
    .copyright_part {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 2, */
    .copyright_part {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 2, */
    .copyright_part {
        margin-top: 30px;
    }
}


/* line 18, */

.copyright_part p {
    color: gray;
    font-family: 300;
}


/* line 22, */

.copyright_part a {
    color: #f81c1c;
}

@media (max-width: 575px) {
    /* line 25, */
    .copyright_part .footer-social {
        margin-top: 20px;
    }
}


/* line 38, */

.copyright_part .footer-social a {
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border: 1px solid #ff7e5f;
    text-align: center;
    margin-left: 10px;
    color: #fff;
}


/* line 48, */

.copyright_part .footer-social a:hover {
    background-color: #ff7e5f !important;
    color: #fff !important;
}


/* line 53, */

.copyright_part .footer-social a i:hover {
    color: #fff;
}

@media (max-width: 575px) {
    /* line 60, */
    .copyright_part .footer-text {
        text-align: center;
    }
    /* line 63, */
    .copyright_part .form-group {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 68, */
    .copyright_part .footer-text {
        text-align: center;
        margin-bottom: 25px !important;
    }
    /* line 72, */
    .copyright_part .form-group {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 77, */
    .copyright_part .footer-text {
        text-align: center;
        margin-bottom: 25px !important;
    }
}


/* line 84, */

.copyright_part span.ti-heart {
    font-size: 12px;
    margin: 0px 2px;
}


/* line 3, */

.contact-info {
    margin-bottom: 25px;
}


/* line 6, */

.contact-info__icon {
    margin-right: 20px;
}


/* line 9, */

.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px;
}


/* line 17, */

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
}


/* line 23, */

.contact-info .media-body h3 a:hover {
    color: #f81c1c;
}


/* line 29, */

.contact-info .media-body p {
    color: #8a8a8a;
}


/*=================== contact banner end ====================*/


/*=================== contact form start ====================*/


/* line 38, */

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
}


/* line 80, */

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}


/* line 85, */

b,
sup,
sub,
u,
del {
    color: #f81c1c;
}


/* line 93, */

h1 {
    font-size: 36px;
}


/* line 97, */

h2 {
    font-size: 30px;
}


/* line 101, */

h3 {
    font-size: 24px;
}


/* line 105, */

h4 {
    font-size: 18px;
}


/* line 109, */

h5 {
    font-size: 16px;
}


/* line 113, */

h6 {
    font-size: 14px;
}


/* line 117, */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
}


/* line 127, */

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #828bb2;
}


/* line 137, */

.button-area {
    background: #fff;
}


/* line 138, */

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee;
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid rgb(194, 0, 97);
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
}


/* line 449, */

.list-style {
    width: 14px;
    height: 14px;
}


/* line 455, */

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
    transition: all .5s ease-Out;
}


/* line 459, */

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid rgb(194, 0, 97);
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
}

.unordered-list li:hover {
    transform: translateX( -10px);
    transition: all .5s ease-Out;
}


/* line 473, */

.ordered-list {
    margin-left: 30px;
}


/* line 475, */

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #f81c1c;
    font-weight: 500;
    line-height: 1.82em !important;
}


/* line 480, */

.ordered-list li span {
    font-weight: 300;
    color: #828bb2;
}


/* line 488, */

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #f81c1c;
    font-weight: 500;
    line-height: 1.82em !important;
}


/* line 494, */

.ordered-list-alpha li span {
    font-weight: 300;
    color: #828bb2;
}


/* line 502, */

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #f81c1c;
    font-weight: 500;
    line-height: 1.82em !important;
}


/* line 508, */

.ordered-list-roman li span {
    font-weight: 300;
    color: #828bb2;
}

.footer-area {
    /* background-color: rgb(54, 54, 54); */
    padding: 50px 0px 0px;
    background-image: url('../img/bg3.png');
    /* clip-path: polygon(0 0, 100% 0, 100% 86%, 0 98%); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden !important;
    width: 100%;
}

#footer {
    border: 3px solid #f1f1f1;
    overflow: hidden;
}

@media (max-width: 991px) {
    /* line 2, */
    .footer-area {
        padding: 70px 0px 0px;
    }
}


/* line 9, */

.footer-area .footer_2 .contact_info {
    position: relative;
    padding-left: 38px;
}

@media (max-width: 575px) {
    /* line 9, */
    .footer-area .footer_2 .contact_info {
        padding-left: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 9, */
    .footer-area .footer_2 .contact_info {
        padding-left: 25px;
    }
}

.footer-area .footer_2 .contact_info span {
    color: rgb(194, 0, 97);
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 5px;
}

@media (max-width: 575px) {
    .footer-area .footer_2 .contact_info span {
        top: 3px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer_2 .contact_info span {
        top: 3px;
    }
}

@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 40px;
    }
}

.footer-area .single-footer-widget p {
    color: #999999;
    font-size: 15px;
    line-height: 1.8;
}

.footer-area .single-footer-widget h4 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    color: rgb(194, 0, 97);
}

@media (max-width: 1024px) {
    /* line 56, */
    .footer-area .single-footer-widget h4 {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 15px;
    }
}

.footer-area .single-footer-widget h5 {
    font-size: 16px;
    color: #fff;
}


/* line 75, */

.footer-area .single-footer-widget ul li {
    margin-bottom: 10px;
}


/* line 77, */

.footer-area .single-footer-widget ul li a {
    color: #999999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
}


/* line 81, */

.footer-area .single-footer-widget ul li a:hover {
    color: #f81c1c;
}


/* line 85, */

.footer-area .single-footer-widget ul li:last-child {
    margin-bottom: 0px;
}


/* line 90, */

.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px;
}


/* line 93, */

.footer-area .single-footer-widget input {
    height: 50px;
    border: none;
    width: 67% !important;
    font-weight: 400;
    background: transparent;
    padding-left: 20px;
    border-radius: 0;
    font-size: 13px;
    padding: 10px 20px;
    color: #999999;
    border: 0px solid transparent;
    font-family: "Rufina", serif;
    border: 1px solid #3f474b;
}


/* line 107, */

.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
}


/* line 112, */

.footer-area .single-footer-widget .click-btn {
    background-color: #f81c1c;
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 50px;
    width: 50px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: "Rufina", serif;
    position: relative;
    left: 0;
}


/* line 126, */

.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 375px) {
    /* line 112, */
    .footer-area .single-footer-widget .click-btn {
        margin-top: 10px;
    }
}

@media (min-width: 400px) {
    /* line 112, */
    .footer-area .single-footer-widget .click-btn {
        left: -50px;
    }
}


/* line 140, */

.footer-area .contact_info {
    position: relative;
    margin-bottom: 20px;
}


/* line 143, */

.footer-area .contact_info:last-child {
    margin-bottom: 0px;
}


/* line 146, */

.footer-area .contact_info p {
    margin-bottom: 10px;
}


/* line 148, */

.footer-area .contact_info p span {
    color: #fff;
    font-size: 16px;
}


/* line 154, */

.footer-area .form-control {
    border-radius: 0px !important;
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    height: 48px;
    margin-top: 23px;
}


/* line 161, */

.footer-area .form-control:focus,
.footer-area .form-control:hover {
    outline: none !important;
    border-color: #3f474b;
}


/* line 166, */

.footer-area .btn {
    margin-top: 23px;
    background-color: #f81c1c;
    color: #fff;
    width: 50px;
    border-radius: 0px;
    height: 50px;
}


/* line 175, */

.footer-area .form-group {
    margin-top: 18px;
}


/* line 178, */

.footer-area span.ti-heart {
    font-size: 12px;
    margin: 0px 2px;
}


/* line 182, */

.footer-area .copyright_part_text {
    border-top: 1px solid #e2e2e2;
    padding-top: 25px;
    margin-top: 83px;
}


/* line 186, */

.footer-area .copyright_part_text p {
    color: #777777;
}

@media (max-width: 575px) {
    /* line 182, */
    .footer-area .copyright_part_text {
        margin-top: 20px;
        text-align: center;
    }
    /* line 193, */
    .footer-area .copyright_part_text p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 182, */
    .footer-area .copyright_part_text {
        text-align: center;
        margin-top: 20px;
    }
    /* line 200, */
    .footer-area .copyright_part_text p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 182, */
    .footer-area .copyright_part_text {
        text-align: center;
    }
}


/* line 210, */

.footer-area .copyright_part_text a {
    color: #f81c1c;
}

@media (max-width: 575px) {
    /* line 214, */
    .footer-area .copyright_social_icon {
        text-align: center !important;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 214, */
    .footer-area .copyright_social_icon {
        text-align: center !important;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 214, */
    .footer-area .copyright_social_icon {
        text-align: center !important;
        margin-top: 15px;
    }
}


/* line 230, */

.footer-area .copyright_social_icon a {
    margin-left: 20px;
    color: #969697;
}


/* line 236, */

.footer-area .info {
    color: #f81c1c;
}