html {
    scroll-behavior: smooth;
}


/* homepage message */

.message {
    display: inline-block;
    transition: line-height .2s, width .2s;
    overflow: hidden;
    line-height: 1.2;
}

.hidden {
    visibility: hidden;
}

.meso {
    margin-top: 70px;
    color: #F1E4E9;
    font-weight: bold;
    font-size: 30px;
    border: solid whitesmoke;
    background: rgba(0, 0, 0, 0.5);
    /* opacity: 0.7; */
    margin-right: 10px;
}


/* end................................................... */


/* navbar......................................................... */

.navbar {
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.navbar-color {
    background: rgba(0, 0, 0, 0.8);
    width: 100% !important;
    height: 70px;
}


/* pulse */

.navbar-brand {
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* end */

.button {
    display: inline-flex;
    height: 30px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px
}

#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: transparent;
}

#button-4 a {
    color: rgb(212, 8, 76);
    position: relative;
    margin-left: 7px;
    transition: all .45s ease-Out;
}

#button-4 a:hover {
    color: azure;
}

#underline {
    width: 100%;
    height: 5px;
    left: -200px;
    background: rgb(0, 218, 218);
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#button-4:hover #underline {
    left: 0;
}


/* navbar end ......................................................................*/


/* scroll bar */

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-image: radial-gradient(circle, #2e2445, #604d69, #917b8f, #c2aeba, #f1e4e9);
    ;
    border: rgb(196, 196, 196) solid;
    border-radius: 10px 10px 10px 10px;
}


/* end of scroll bar */


/* section1 */

.section1 {
    background-image: url('https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 98%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 15%;
    overflow: hidden !important;
}

.section1small {
    /* background-image: url('https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'); */
    background-color: #2e2445;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 98%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 15%;
    overflow: hidden !important;
}


/* end of section 1 */


/* section2 */

.section2 {
    background-image: url('../images/bg5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden !important;
    color: rgb(194, 0, 97);
}

.section3,
.section4 {
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 10%;
    overflow: hidden !important;
}

.bg-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutcont {
    margin: 5%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(194, 0, 97);
    border: 3px solid rgb(255, 255, 255);
}


/* end */


/* my pic */

.imgFrame {
    width: 50%;
    min-height: 50%;
    padding: 5px;
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 2px #000;
    border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin-top: 20%;
    box-shadow: 0 4px 8px 0 rgb(194, 0, 97), 0 4px 8px 0 rgb(194, 0, 97);
    margin-left: 20%;
    width: 50%;
    animation: colorchange 5s infinite;
}

@keyframes colorchange {
    0% {
        box-shadow: 0 4px 8px 0 rgb(194, 0, 97), 0 4px 8px 0 rgb(194, 0, 97);
    }
    25% {
        box-shadow: 0 4px 8px 0 rgb(194, 0, 0), 0 4px 8px 0 rgb(194, 0, 0);
    }
    50% {
        box-shadow: 0 4px 8px 0 rgb(194, 181, 0), 0 4px 8px 0 rgb(191, 194, 0);
    }
    75% {
        box-shadow: 0 4px 8px 0 rgb(0, 194, 32), 0 4px 8px 0 rgb(0, 194, 32);
    }
    100% {
        box-shadow: 0 4px 8px 0 rgb(0, 171, 194), 0 4px 8px 0 rgb(2, 171, 194);
    }
}


/* end of my pic */

#contacts {
    overflow: hidden !important;
    width: 100% !important;
    background-image: url('../images/bg3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.enclosed {
    background: azure;
    color: black;
    padding: 0 5px;
}

.contacts {
    margin: 20px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
}


/* cards */

.cardx {
    border-radius: 10px 10px 10px 10px;
    transition: all .5s ease-Out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardx:hover {
    transition: all .5s ease-Out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px
}


/* button for mission */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-Out;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-Out;
    color: rgb(0, 0, 0);
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: white;
    position: absolute;
    transition: all .5s ease-Out;
}

#button-5:hover {
    background-color: black;
    transform: translateY( -7px);
    transition: all .8s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: black;
}


/* end */


/* button */

#button-6 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
    color: azure;
}

#button-6 a {
    position: relative;
    color: azure;
    transition: all .45s ease-Out;
}

#button-6::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, rgb(0, 0, 0) 45%, #aaa 50%, #ccc 56%, rgb(255, 255, 255) 80%);
    transition-duration: 0.3s;
}

#button-6:hover:before {
    width: 25px;
    height: 25px;
}


/* end */


/* overlay */

#menubar {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 999 !important;
    text-shadow: 1px 1px 2px black;
    color: rgb(150, 18, 62);
    width: 50px;
    /* animation: fadeIn .80s infinite alternate; */
}


/* @keyframes fadeIn {
    0% {
        opacity: 0.33;
        transform: scale(.89);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
} */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content div:hover {
    color: white;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (min-width: 800px) {
    #menubar {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .meso {
        font-size: 20px;
    }
    .button {
        height: 20px;
        width: 150px;
        display: inline-flex;
        border: 2px solid #BFC0C0;
        margin: 0px 0px 0px 0px;
        color: #BFC0C0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .6em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 20px 20px 20px 20px
    }
    .section1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .section2 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .ml5 {
        position: relative;
        font-weight: 400;
        font-size: 1.6em !important;
        color: black;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* end */


/* modal */

.blur-it {
    filter: blur(4px);
}

a.btn {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px 20px 20px 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    transition: all .8s ease-Out;
}

a.btn:hover {
    transform: translateY( -7px);
    transition: all .8s ease-Out;
    box-shadow: 10px 10px black;
}


/* change start */

.modal-wrapper1,
.modal-wrapper2,
.modal-wrapper3,
.modal-wrapper4,
.modal-wrapper5,
.modal-wrapper6 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper1.open,
.modal-wrapper2.open,
.modal-wrapper3.open,
.modal-wrapper4.open,
.modal-wrapper5.open,
.modal-wrapper6.open {
    opacity: 1;
    visibility: visible;
}

.modal-wrapper1.open .modal,
.modal-wrapper2.open .modal,
.modal-wrapper3.open .modal,
.modal-wrapper4.open .modal,
.modal-wrapper5.open .modal,
.modal-wrapper6.open .modal {
    margin-top: -200px;
    opacity: 1;
}


/* change end */

.modal {
    width: 50%;
    height: auto;
    display: block;
    margin: 50% 0 0 -30%;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.head {
    width: 90%;
    height: 50px;
    padding: 12px 30px;
    overflow: hidden;
    background: #000000;
}

.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
}

.content {
    padding: 5%;
}

.good-job {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #000000;
}

.good-job p {
    font-size: 15px;
}


/* end */


/* loader */

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999!important;
    left: 0;
    overflow: hidden;
    background-color: #F1E4E9;
}

path#XMLID_11_,
path#XMLID_2_ {
    fill: rgb(145, 8, 76);
}

.circle {
    animation: out 2s infinite ease-out;
    fill: rgb(150, 10, 80);
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes out {
    0% {
        r: 1;
        opacity: 0.9;
    }
    25% {
        r: 5;
        opacity: 0.3;
    }
    50% {
        r: 10;
        opacity: 0.2;
    }
    75% {
        r: 15;
        opacity: 0.1;
    }
    100% {
        r: 20;
        opacity: 0;
    }
}


/* titles */

.ml14 {
    font-weight: 400;
    font-size: 3.2em;
}

.ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform-origin: 100% 100%;
    bottom: 0;
}


/* services and contacts */

.ml5 {
    position: relative;
    font-weight: 400;
    font-size: 3.2em;
    color: black;
}

.ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
}

.ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: black;
    transform-origin: 0.5 0;
}

.ml5 .ampersand {
    font-family: Baskerville, "EB Garamond", serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
}


/* projects */

.ml1 {
    font-weight: 400;
    font-size: 3.2em;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}


/* skills */

.ml11 {
    font-weight: 400;
    font-size: 3.2em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: rgb(0, 0, 0);
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}


/* end */


/* end *